body {
    font-family: "Montserrat";
    text-align: center;
}
h1, h2, h3,h4, h5, h6 {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    line-height: 1.5;
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.4rem;
} 
p {
    color: #8f8f8f;
}
#title {
    background-color: #ff4c68;
    color: #fff;
}
#title .container-fluid {
    padding: 3% 15% 7%;
}
.navbar-brand {
    font-family: 'Ubuntu';
    color: #fff;
    font-size: 2.5rem;
}
.navbar-item {
    padding: 0 12px;
}
.nav-link {
    color: #fff;
    font-size: 1.2rem;
    opacity: 0.7;
}
.container-fluid, .carousel-item  {
    padding: 7% 15%;
}
.download-button {
    margin: 5% 3% 5% 0;
}
.download-button i {
    font-size: 1.4rem;
    padding:0 0.3rem;
}
.title-image{
    width: 25%;
    transform: rotate(25deg);
    z-index: 0;
    position: absolute;
    right: 20%;
    top: 25%;
}
#features {
    background-color: #fff;
    position: relative;
}
.feature-box i {
    color: #ef8172;
    font-size: 4rem;
    padding-bottom: 2rem;
}
.feature-box i:hover {
    color: #ff4c68;
}
#testimonials {
    background-color: #ef8172;
    color: #fff;
}
.testimonial-img {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing section */

#pricing {
    padding: 7% 10%;
}

.pricing-column{
    padding: 3% 2%;
}

@media (max-width:1028px) {
    .title-image{
        position: static;
        transform: rotate(0);
        width: 30%;
    }
}

#cta {
    background-color: #ff4c68;
    color: #fff;
    height: 20%;
}
#footer {
    background-color: #fff;
    height: 10%;
}
.footer-icons i {
    font-size: 1.7rem;
    margin: 1rem 0.7rem;
}
.footer-icons i:hover {
    color: #ff4c68;
}